@charcset="UTF-8";

body {
            background-color: #ced5dd;
            color: #070404;
            font-family: Arial, Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
         h1 {
            color: darkblue;
                background-color: #b9bebd;}
         h2 {
            color: darkred;
            background-color: rgb(85, 226, 191);
            padding: 5px;}
            p {
            text-align: justify;
            line-height: 1.6;
            margin-bottom: 20px;
                }   
            h1, h2 {
            margin-top: 20px;
                margin-bottom: 10px;
                text-align: center;}
        h1 {
            font-size: 1.6em;
            font-weight: bold;}
        h2 {
            font-size: 1.3em;
            font-weight: bold;}
        p {
            font-size: 0.8em;
            font-weight: normal;}
        @media (max-width: 600px) {
            
                background-color;#f0f0f0;
                
                color: #333;    
                color: #000;}   
            h1, h2, p {
                text-align: center;
                        }
            body {
                font-size: 1.2em;
                padding: 10px;
                } 
            @media (min-width: 601px) {
                body {
                    font-size: 1.5em;
                    padding: 20px;
                }
            }
        